**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.*proj.user
**/bin
**/docker-compose*
**/Dockerfile*
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
!**/.gitignore
!.git/HEAD
!.git/config
!.git/packed-refs
!.git/refs/heads/**
